// Css styles for generic page template

.cover{
	position: relative;
	min-height: 450px;
	overflow: hidden;
	img{
		position: absolute;
	}
	h2{
		position: absolute;
		color: #FFFFFF;
		font-weight: lighter;
		font-size: 35px;
	}
	.main-width{
		padding: 20px 0;
	}
	&.nosotros{
		h2{
			color: #685399;
		}
	}
}

.content{
	background: #e6e7e8;
	padding: 20px 0;
	color: #685399;
	h2{
		font-size: 28px;
		font-weight: lighter;
		margin-bottom: 15px;
	}
	p{
		margin-bottom: 22px;
		font-size: 15px;
		line-height: 22px;
		span{
			width: 100%;
			display: inline-block;
		}
	}
	&.servicios{
		ul{
			list-style-type: lower-latin;
			margin-left: 15px;
			li{
				line-height: 25px;
			}
			ul{
				list-style-type: lower-roman;
				margin-left: 45px;
				margin-bottom: 20px;
				ul{
					list-style-type: decimal;
					margin-left: 45px;
					margin-bottom: 0;
				}
			}
		}
	}
}