// Css styles for generic page template

.cover{
	position: relative;
	min-height: 450px;
	overflow: hidden;
	img{
		position: absolute;
	}
	h2{
		position: absolute;
		color: #FFFFFF;
		font-weight: lighter;
		font-size: 35px;
	}
	.main-width{
		padding: 20px 0;
	}
}

.content{
	background: #e6e7e8;
	padding: 20px 0;
	color: #685399;
	h2{
		font-size: 28px;
		font-weight: lighter;
		margin-bottom: 15px;
	}
	p{
		margin-bottom: 22px;
		font-size: 15px;
		line-height: 22px;
		span{
			width: 100%;
			display: inline-block;
		}
	}
}