// Footer

.main-footer{
	background:				#685399;
	min-height: 			120px;
	.main-width{
		background: url(images/pharmaclim-logo-footer.png) no-repeat;
		background-size: auto 100%;
		min-height: 			120px;
	}
}

.sec-footer{
	background: #000000;
	min-height: 30px;
}