// Footer

.main-footer{
	background:				#685399;
	min-height: 			120px;
	color: #FFFFFF;
	.main-width{
		background: url(images/pharmaclim-logo-footer.png) no-repeat;
		background-size: auto 100%;
		min-height: 			120px;
		padding: 20px 0;
		.quote{
			float: right;
			padding-top: 20px;
			overflow: hidden;
			p{
				font-size: 26px;
				font-weight: lighter;
				margin-bottom: 15px;
				line-height: 32px;
				color: white;
			}
			span{
				float: right;
				font-size: 18px;
			}
		}
	}
}

.sec-footer{
	background: #000000;
	min-height: 30px;
}

@media screen and (max-width: 680px) {

	.main-footer {
		padding: 0 $padding*2;
		min-height: 90px;

		.main-width {
			background-size: 25%;
			min-height: 90px;
			padding-top: 12px;
			padding-bottom: 12px;

			.quote {
				width: 73%;
				padding-top: 0;

				p {
					font-size: 15px;
					line-height: 20px;
					margin-bottom: 0;

					br {
						display: none;
					}
				}
				span {
					font-size: 15px;
				}
			}
		}
	}
}