//  Home Slider

.slide{
	position: relative;
	min-height: 700px;
	overflow: hidden;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	&.one{
		background-image: url(images/home1.jpg);
		.slide-info ul{
			list-style: lower-alpha;
		}
	}
	&.two{
		background-image: url(images/home2.jpg);
	}
	.slide-info{
		color: #675598;
		background: #e6e7e8;
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 15px 0;
		h2{
			text-transform: uppercase;
			font-size: 20px;
			margin-bottom: 10px;
		}
		p{
			margin-bottom: 10px;
		}
		ul{
			list-style: disc;
			margin-left: 14px;
		}
	}
}