//  Home Slider

.owl-carousel{
	.item{
		height: 200px;
		&.one{
			background: yellow;
		}
		&.two{
			background: green;
			color: white;
		}
	}

}

.owl-dots .owl-dot{
    display: inline-block;
}

.owl-dots .owl-dot span{
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}